/* Tailwind CSS Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.min-h-screen {
  min-height: 100vh;
}

/* Dark Mode Styles */
.dark {
  background-color: #1f2937; /* Dark gray background */
  color: #ffffff; /* White text */
}